<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>
			weixin.servlet.InitServlet
		</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <description>OAuthServlet</description>
    <display-name>OAuthServlet</display-name>
    <servlet-name>OAuthServlet</servlet-name>
    <servlet-class>weixin.servlet.examine.OAuthServlet</servlet-class>
  </servlet>
  <servlet>
    <description>AddUserServlet</description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>weixin.servlet.userandscm.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>TestServlet</description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>weixin.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SpServlet</description>
    <display-name>SpServlet</display-name>
    <servlet-name>SpServlet</servlet-name>
    <servlet-class>weixin.servlet.examine.SpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ButtonServlet</description>
    <display-name>ButtonServlet</display-name>
    <servlet-name>ButtonServlet</servlet-name>
    <servlet-class>weixin.servlet.examine.ButtonServlet</servlet-class>
  </servlet>
  <servlet>
    <description>DeleteUserServlet</description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>weixin.servlet.userandscm.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UpdateStateServlet</description>
    <display-name>UpdateStateServlet</display-name>
    <servlet-name>UpdateStateServlet</servlet-name>
    <servlet-class>weixin.servlet.examine.UpdateStateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>AddScmServlet</description>
    <display-name>AddScmServlet</display-name>
    <servlet-name>AddScmServlet</servlet-name>
    <servlet-class>weixin.servlet.userandscm.AddScmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SubscribeServlet</description>
    <display-name>SubscribeServlet</display-name>
    <servlet-name>SubscribeServlet</servlet-name>
    <servlet-class>weixin.servlet.userandscm.SubscribeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SelectOneMessage</description>
    <display-name>SelectOneMessage</display-name>
    <servlet-name>SelectOneMessage</servlet-name>
    <servlet-class>weixin.servlet.examine.SelectOneMessage</servlet-class>
  </servlet>
  <servlet>
    <description>ResultServlet</description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>weixin.servlet.examine.ResultServlet</servlet-class>
  </servlet>
  <servlet>
    <description>InformServlet</description>
    <display-name>InformServlet</display-name>
    <servlet-name>InformServlet</servlet-name>
    <servlet-class>weixin.servlet.inform.InformServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ShowTextServlet</description>
    <display-name>ShowTextServlet</display-name>
    <servlet-name>ShowTextServlet</servlet-name>
    <servlet-class>weixin.servlet.inform.ShowTextServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ShowUsersAll</description>
    <display-name>ShowUsersAll</display-name>
    <servlet-name>ShowUsersAll</servlet-name>
    <servlet-class>weixin.servlet.userandscm.ShowUsersAll</servlet-class>
  </servlet>
  <servlet>
    <description>PageDataServlet</description>
    <display-name>PageDataServlet</display-name>
    <servlet-name>PageDataServlet</servlet-name>
    <servlet-class>weixin.servlet.examine.PageDataServlet</servlet-class>
  </servlet>
  <servlet>
    <description>OaggtzServlet</description>
    <display-name>OaggtzServlet</display-name>
    <servlet-name>OaggtzServlet</servlet-name>
    <servlet-class>weixin.servlet.oaggtz.OaggtzServlet</servlet-class>
  </servlet>
  <servlet>
    <description>OneOaggtzServlet</description>
    <display-name>OneOaggtzServlet</display-name>
    <servlet-name>OneOaggtzServlet</servlet-name>
    <servlet-class>weixin.servlet.oaggtz.OneOaggtzServlet</servlet-class>
  </servlet>
  <servlet>
    <description>PageOaggtzServlet</description>
    <display-name>PageOaggtzServlet</display-name>
    <servlet-name>PageOaggtzServlet</servlet-name>
    <servlet-class>weixin.servlet.oaggtz.PageOaggtzServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UpOaggtzServlet</description>
    <display-name>UpOaggtzServlet</display-name>
    <servlet-name>UpOaggtzServlet</servlet-name>
    <servlet-class>weixin.servlet.oaggtz.UpOaggtzServlet</servlet-class>
  </servlet>
  <servlet>
    <description>InsertOaggtzServlet</description>
    <display-name>InsertOaggtzServlet</display-name>
    <servlet-name>InsertOaggtzServlet</servlet-name>
    <servlet-class>weixin.servlet.oaggtz.InsertOaggtzServlet</servlet-class>
  </servlet>
  <servlet>
    <description>WXInsertOaggtzServlet</description>
    <display-name>WXInsertOaggtzServlet</display-name>
    <servlet-name>WXInsertOaggtzServlet</servlet-name>
    <servlet-class>weixin.servlet.oaggtz.WXInsertOaggtzServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SelectOaflbServlet</description>
    <display-name>SelectOaflbServlet</display-name>
    <servlet-name>SelectOaflbServlet</servlet-name>
    <servlet-class>weixin.servlet.oaggtz.SelectOaflbServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ExpiredServlet</description>
    <display-name>ExpiredServlet</display-name>
    <servlet-name>ExpiredServlet</servlet-name>
    <servlet-class>weixin.servlet.ExpiredServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ExpiredServlet</description>
    <display-name>ExpiredServlet</display-name>
    <servlet-name>AttentionServlet</servlet-name>
    <servlet-class>weixin.servlet.userandscm.AttentionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ExpiredServlet</description>
    <display-name>ExpiredServlet</display-name>
    <servlet-name>ExpServlet</servlet-name>
    <servlet-class>weixin.servlet.exp.ExpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>InsertExpServlet</description>
    <display-name>InsertExpServlet</display-name>
    <servlet-name>InsertExpServlet</servlet-name>
    <servlet-class>weixin.servlet.exp.InsertExpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SelectExpServlet</description>
    <display-name>SelectExpServlet</display-name>
    <servlet-name>SelectExpServlet</servlet-name>
    <servlet-class>weixin.servlet.exp.SelectExpServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SelectExpServlet</description>
    <display-name>SelectExpServlet</display-name>
    <servlet-name>SelectExpaServlet</servlet-name>
    <servlet-class>weixin.servlet.exp.SelectExpaServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>OAuthServlet</servlet-name>
    <url-pattern>/OAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpServlet</servlet-name>
    <url-pattern>/SpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ButtonServlet</servlet-name>
    <url-pattern>/ButtonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStateServlet</servlet-name>
    <url-pattern>/UpdateStateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddScmServlet</servlet-name>
    <url-pattern>/AddScmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubscribeServlet</servlet-name>
    <url-pattern>/SubscribeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectOneMessage</servlet-name>
    <url-pattern>/SelectOneMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InformServlet</servlet-name>
    <url-pattern>/InformServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowTextServlet</servlet-name>
    <url-pattern>/ShowTextServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUsersAll</servlet-name>
    <url-pattern>/ShowUsersAll</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageDataServlet</servlet-name>
    <url-pattern>/PageDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OaggtzServlet</servlet-name>
    <url-pattern>/OaggtzServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OneOaggtzServlet</servlet-name>
    <url-pattern>/OneOaggtzServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageOaggtzServlet</servlet-name>
    <url-pattern>/PageOaggtzServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpOaggtzServlet</servlet-name>
    <url-pattern>/UpOaggtzServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertOaggtzServlet</servlet-name>
    <url-pattern>/InsertOaggtzServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WXInsertOaggtzServlet</servlet-name>
    <url-pattern>/WXInsertOaggtzServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectOaflbServlet</servlet-name>
    <url-pattern>/SelectOaflbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExpiredServlet</servlet-name>
    <url-pattern>/ExpiredServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttentionServlet</servlet-name>
    <url-pattern>/AttentionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExpServlet</servlet-name>
    <url-pattern>/ExpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertExpServlet</servlet-name>
    <url-pattern>/InsertExpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectExpServlet</servlet-name>
    <url-pattern>/SelectExpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectExpaServlet</servlet-name>
    <url-pattern>/SelectExpaServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>SubscribeServlet</welcome-file>
  </welcome-file-list>
</web-app>